.catalog__product {
  margin-bottom: 12px;
  width: 60%;

  @include breakpoint-for(sm) {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .catalog__product__apresentation {
    
    @include breakpoint-for(sm) {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 95%;
    }

    @include breakpoint-for(md) {
      width: 100%;
    }

    .container__discount_percentage {
      width: 100%;

      @include breakpoint-for(sm) {
        width: 75%;
      }

      @include breakpoint-for(lg) {
        width: 95%;
      }

      .catalog__product__discount_percentage {
        align-items: center;
        background-color: black;
        border-radius: 5px 0 0 0;
        color: white;
        display: flex;
        height: 20px;
        justify-content: center;
        position: absolute;
        width: 60px;
      }
    }

    .catalog__product__image {
      border-radius: 5px;
      width: 100%;

      @include breakpoint-for(sm) {
        width: 75%;
      }

      @include breakpoint-for(lg) {
        width: 95%;
      }
    }
  }

  .catalog__product__name {
    cursor: pointer;
    font-size: 0.85rem;
    margin: 5px 0 0 0;
    text-align: center;
  }

  .catalog__product__prices {
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: 0.85rem;
    justify-content: center;

    .catalog__product__regular_price,
    .catalog__product__regular_price-sale,
    .catalog__product__actual_price {
      margin: 0;
    }

    .catalog__product__regular_price-sale {
      font-size: 0.85rem;
      margin-right: 4px;
      text-decoration: line-through;
    }
  }
}
