.navbar__container {
  height: 100%;
  
  nav {
    align-items: center;
    background-color: white;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    .navbar__infos {
      align-items: center;
      display: flex;
      height: 100%;
      
      .company__logo {
        cursor: pointer;
        height: 95%;
        margin-right: 12px;
      }
      
      .company__name {
        cursor: pointer;
        font-weight: 400;
      }
    }
    
    .navbar__icons {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 55px;
      
      .search-icon, .cart-icon {
        cursor: pointer;
      }

      .container__cart__icon {

        .cart__length {
          align-items: center;
          background-color: rgb(224, 50, 50);
          border-radius: 100%;
          color: white;
          display: flex;
          font-size: 0.65rem;
          height: 15px;
          justify-content: center;
          position: absolute;
          right: 15px;
          top: 0;
          width: 15px;
        }
      }
    }
  }
}
  