.product__container {
  background-color: #f9f9f9;
  padding: 70px 7px 0 7px;

  @include breakpoint-for(lg) {
    display: flex;
    padding-top: 84px;
  }

  .product__image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    @include breakpoint-for(lg) {
      border: 2px solid #dfdfdf;
      border-radius: 15px;
      height: 30%;
      margin: 0 13px;
      width: 45%;
    }

    img {
      width: 85%;

      @include breakpoint-for(sm) {
        width: 45%;
      }

      @include breakpoint-for(md) {
        width: 25%;
      }

      @include breakpoint-for(lg) {
        width: 70%;
      }
    }
  }

  .product__infos {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include breakpoint-for(lg) {
      width: 55%;
    }

    .product__name {
      margin: 5px 0 0 0;

      @include breakpoint-for(lg) {
        font-size: 1.5rem;
      }
    }

    .product__payment {
      align-items: center;
      display: flex;
      justify-content: center;

      .product__price, .product__installments {
        margin: 0;
      }

      .product__installments {
        color: grey;
        font-size: 0.75rem;
        margin-left: 4px;
      }
    }

    .product__size {
      display: flex;
      justify-content: center;
      margin-top: 4px;
      max-width: 200px;
      
      @include breakpoint-for(lg) {
        margin-top: 12px;
      }

      button {
        background: transparent;
        border: .1rem solid #dfdfdf;
        border-radius: 5px;
        color: #4c4c4c;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        height: 35px;
        margin: 0 3px;
        width: 35px;

        &.active {
          background: #4c4c4c;
          border: none;
          color: white;
        }

        @include breakpoint-for(lg) {
          height: 50px;
          width: 50px;
        }
      }
    }

    .product__quantity {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 4px;
      max-width: 200px;

      @include breakpoint-for(lg) {
        margin-top: 12px;
      }

      label {
        display: block;
        font-size: 0.85rem;
        padding: 4px;
      }

      input {
        width: 25%;
      }
    }

    .product__button {
      background: #4c4c4c;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      height: 40px;
      margin-bottom: 16px;
      margin-top: 8px;
      padding: 8px;
      width: 85%;

      &:hover{
        background: #666666;
      }

      @include breakpoint-for(md) {
        margin-top: 14px;
        width: 55%;
      }
    }
  }
}
